<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%- field_set_tag do -%>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <p>
      <%= f.submit 'Save' %> - or - <%= link_to 'Back', account_path %>
    </p>
  <%- end -%>
<% end %>